fastapi
uvicorn[standard]
langchain
langchain-community
langchain-openai
openai
qdrant-client
sentence-transformers
python-dotenv
pypdf
tiktoken
langchain-groq
ddgs
requests
beautifulsoup4
lxml
fake-useragent
selenium
webdriver-manager
aiohttp
httpx
youtube_transcript_api