fastapi
uvicorn[standard]
langchain
langchain-community
qdrant-client

python-dotenv
pypdf
tiktoken
langchain-groq
ddgs
requests
beautifulsoup4
lxml
fake-useragent
selenium
webdriver-manager
aiohttp
httpx
youtube_transcript_api
grandalf
langchain-huggingface

huggingface-hub
langchain-core
langchain-community
langchain-text-splitters
langchain-experimental